*
{
padding: 0;
margin: 0;
overflow-x: hidden;
box-sizing: border-box;
}

.fooooont
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}


#leftfoot
{
    border: 0px solid black;
    /* min-height: 100px; */
    background-color: #0B2233;
    
}
#footright
{
    border: 0px solid black;
    /* min-height: 100px; */
    background-color: #0F2F46;

}
.footheading
{
    text-align: center;
    align-items: center;
    padding-top: 15px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
#last
{
    color: white;
    justify-content: end;
}

a
{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
footer
{
    background-color: #FF7603;
}
.down
{
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 24px;
}

#left
{
padding-right: 20px;
}

#teamtext1
{
    display: none;
}

#smallscreen
{
    display: none;
}
#bigscreen
{
display: block;
}

.copyright
{
    font-weight: 800;
    font-family: 'bbbd';
    font-size: 20px;
}
.copyrighthide
{
    font-weight: 800;
    font-family: 'bbbd';
    font-size: 20px;
}
.powered
{
    font-weight: 800;
    font-family: 'bbbd';
    font-size: 20px;
}
.wen
{
    font-weight: 600;
    font-family: 'bbbd';
    font-size: 20px;
}
.wen:hover
{
    text-decoration: underline;
}

@media only screen and (max-width: 1100px) and (min-width:750px)
{
    
.copyright
{
    font-weight: 500;
    font-family: 'bbbd';
    font-size: 17px;
}
.copyrighthide
{
    font-weight: 500;
    font-family: 'bbbd';
    font-size: 17px;
}
.powered
{
    font-weight: 500;
    font-family: 'bbbd';
    font-size: 17px;
}
.wen
{
    font-weight: 500;
    font-family: 'bbbd';
    font-size: 17px;
}
}

@media only screen and (max-width: 749px) and (min-width:450px)
{
    
.copyright
{
    font-weight: 400;
    font-family: 'bbbd';
    font-size: 12px;
}
.copyrighthide
{
    /* font-weight: 400;
    font-family: 'bbbd';
    font-size: 12px; */
    display:none;
}
.powered
{
    font-weight: 400;
    font-family: 'bbbd';
    font-size: 12px;
}
.wen
{
    font-weight: 400;
    font-family: 'bbbd';
    font-size: 12px;
}
}

@media only screen and (max-width: 449px) and (min-width:50px)
{
    
.copyright
{
    font-family: 'bbbd';
    font-size: 10px;
}
.copyrighthide
{
    /* font-weight: 400;
    font-family: 'bbbd';
    font-size: 12px; */
    display:none;
}
.powered
{
    font-family: 'bbbd';
    font-size: 10px;
}
.wen
{
    font-family: 'bbbd';
    font-size: 10px;
}
}


@media only screen and (max-width: 767px) and (min-width:100px)
{
    #padd1
    {
        background-color: 
        #0B2233;
        color: white;
        padding: 15px 10px !important;
    }
    .team
{
    margin-left: 50px;
    text-align: left;
    color: white;
    font-weight: 800;
    font-family: 'bbbd';
}
    h1
    {
        font-size: 18px;
    }
    #padd
{
    padding: 30px 25px;
}
#padd1
{
    padding: 0px 15px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
#teamtext1
{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: white;
}
#teamtext
{
    display: none;
}

#leftfoot
{
    margin-top: 0px !important;
    color: white;
    padding: 0px 30px;
    font-size: 15px;
    background-color: #0F2F46;
}
.down
{
    text-align: center;
    color: white;
    margin-top: 20px !important;
    font-size: 18px;
}
#footright
{
    display: none;
}

/* #bigscreen
{
    display: none;
}
#smallscreen
{
    display: block;
} */

}
@media only screen and (max-width: 400px) and (min-width:100px)

{
    #mobimg
    {
        height: 115px;
    }
}

