<main>
    <div class="container-fluid">
        <div id="box" class="col-lg-12 col-xl-12 col-xxl-12 col-sm-12 col-md-12" style="overflow: hidden;">
            <h1 style="overflow: hidden;"><span> ENERGY STORAGE </span>    SYSTEM </h1>
        </div>

        <div class="col-12 text-center mt-3  px-5">
            <img src="assets/images/solarplus.jpg" class="img-fluid " alt="">
          </div>

        <div class="row" id="padd">

       

            <div class="col-12">
                <div class="mb-3 content">
                    The above comparison shows a basic difference between conventional batteries and Lithium batteries.
                    The difference paves way to opt for Lithium batteries over other battery technologies. Various
                    application fields include, Renewable Energy Sector, Telecom Power Sector, Utility Generation
                    Sector, Electric Vehicle Sector and various other Backup and Portable Power Supply Units.
                </div>

                <div class="mb-3 content">
                    Lithium is the best option when it comes to Power Storage of 5kWh to MWh scale units. Easy parallel
                    operation, ability to handle and supply large volume of power, reliability for long period of
                    operation etc., are some of the major concerns for Power Storage Units
                </div>

                <div class="mb-3 content">
                    Selection of Lithium cells ranging from 3000 life cycles to 6000 and above is the main criteria for
                    the successful operation of a Lithium battery based Energy Storage Solutions (ESS). Containerized
                    ESS solution are an important component for Utility Scale Power Storage, Handling Peak demands,
                    Energy Time-Shift, Frequency Control, Renewable Energy Integration etc.
                </div>

                <div class="content">
                    Based on the requirement and application area 20”ft, 30”ft and 40”ft container packs are available
                    for integration. Along with Battery System a Container houses BMS and Protective Equipments and the
                    Container is well insulated against Tough Climatic & Environmental conditions
                </div>
            </div>

        </div>
        
      <!-- <div id="bigscreen">
        <div id="addprodiv">

        </div>
        <div class="row text-center addproimg">

            <div class="col px-4">
             <img src="assets/images/ourproject2.webp" width="100%" alt="">
             <h6 id="addprotext">lorem ipusum</h6>
            </div>
            <div class="col  px-4">
                <img src="assets/images/ourproject3.webp" width="100%" alt="">
                <h6 id="addprotext">lorem ipusum</h6>

            </div>
            <div class="col  px-4">
                <img src="assets/images/ourproject1.webp" width="100%" alt="">
                <h6 id="addprotext">lorem ipusum</h6>

            </div>
            <div class="col  px-4">
                <img src="assets/images/ourproject4.webp" width="100%" alt="">
                <h6 id="addprotext">lorem ipusum</h6>

            </div>
            <div class="col  px-4">
                <img src="assets/images/ourproject5.webp" width="100%" alt="">
                <h6 id="addprotext">lorem ipusum</h6>

            </div>


        </div>
    </div>

    <div id="smallscreen">
        <div style="background-color: rgba(11, 34, 51, 1); ">

            <div class="row p-2">
                <div class="col-6 p-3">
<img src="assets/images/ourproject5.webp" width="100%" alt="">
<h6 class="text-center" style="overflow: hidden;color: white;font-family: wiila;font-weight: 600;font-size: 13px;padding-top: 5px;">lorem ipsum</h6>
                </div>
                <div class="col-6 p-3">
                    <img src="assets/images/ourproject3.webp" width="100%" alt="">
                    <h6 class="text-center" style="overflow: hidden;color: white;font-family: wiila;font-weight: 600;font-size: 13px;padding-top: 5px;">lorem ipsum</h6>

                </div>
                <div class="col-6 p-3 pt-0">
                    <img src="assets/images/ourproject1.webp" width="100%" alt="">
                    <h6 class="text-center" style="overflow: hidden;color: white;font-family: wiila;font-weight: 600;font-size: 13px;padding-top: 5px;">lorem ipsum</h6>
                </div>
                <div class="col-6 p-3 pt-0">
                    <img src="assets/images/ourproject4.webp" width="100%" alt="">
                    <h6 class="text-center" style="overflow: hidden;color: white;font-family: wiila;font-weight: 600;font-size: 13px;padding-top: 5px;">lorem ipsum</h6>
                </div>
                <div class="col-12 p-3 pt-0">
                    <img src="assets/images/ourproject2.webp" width="100%" alt="">
                    <h6 class="text-center" style="overflow: hidden;color: white;font-family: wiila;font-weight: 600;font-size: 13px;padding-top: 5px;">lorem ipsum</h6>
                </div>
            </div>

        </div>
    </div>


<hr style="color: rgba(255, 118, 3, 1);"> -->


        <div class="row" id="padd1">
            <h1 class="team" style="overflow: hidden;">
                Our Team
            </h1>
            <div class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-6 col-8  mt-4" id="left">

                <p id="teamtext">
                    Modern power solutions is a premium segment renewable energy solutions provider with a vision to
                    provide effective & optimum solution withoutcompromising quality features. Established in 2010, we
                    are one of the leading dealer/distibutor, installation & commissioning and service providers of
                    leading solar photovoltaic, solar thermal and energy efficient products. We are an „iso 9001:2015‟
                    certified company delivering excellence in solar power solutions.
                </p>
                <p id="teamtext1">
                    The dedicated team members brought a wealth of collective experience to the solar project, showcasing their expertise in various aspects of renewable energy, engineering, and project management.
                </p>

            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-6 col-4 mt-4">
              
                <img src="assets/images/Groupgg.png" class="img-fluid" id="mobimg" alt="">  

            </div>
        </div>

        

    </div>
</main>
