/* *
{
    margin: 0;
    box-sizing: border-box;

}

h1
{
    font-family: 'bbbd';
    color: #0B2233;
    font-weight: 900;
    
}
h4
{
    color: #FFFFFF;
    font-family: 'bbbd'; 
    font-weight: 900;
}
span
{
    color:#FF7603 ;
    font-family: 'bbbd'; 
    font-weight: 900;
}

@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1420px;
}
}

.card
{
background-color: #0B2233;
border-radius: 5px !important;
height: 100%;
}
p
{
    padding: 10px;
    color: #FFFFFF;
    font-size: 12px;
}


.card-body{
    padding: 27px !important;
}





@media only screen and (max-width: 800px)
{
    p
    {
      display: none;
    }
    
 
}
@media only screen and (max-width: 1000px) and (min-width:700px)
{
    .row
    {
      padding: 0px 35px !important;
      
      
    }
    p
    {
        font-size: 10px;
        padding: 8px;
    }
    .card-body{
        padding: 8px !important;
    }
    
    h4
{
    color: #FFFFFF;
    font-family: 'bbbd'; 
    font-size: 14px;
    font-weight: 400;
}
}


@media only screen and (max-width: 699px) and (min-width:400px)
{
    .card-body{
        padding: 8px !important;
    }
 
    p
    {
        font-size: 10px;
        padding: 8px;
    }
   
    h4
{
    color: #FFFFFF;
    font-family: 'bbbd'; 
    font-size: 10px;
    font-weight: 400;
}
}


@media only screen and (max-width: 399px) and (min-width:200px)
{
    
.card-body{
    padding: 8px !important;
}

p
{
    font-size: 8px;
    padding: 8px;
}

h4
{
color: #FFFFFF;
font-family: 'bbbd'; 
font-size: 4px;
}
.afcsdfcds{
    width: 30px;
    height: 30px;
    margin: auto !important;
    margin-top: 10px !important;
}
.xvxvxfvfs{
    height: 90% !important;
}
.card-title{
    margin-top: 7px !important;
} 
} */
























/* ))000000000000000000000000000000000000000000000/8888888888888888888888888 */



/* *
{
    margin: 0;
    box-sizing: border-box;

}

.topheading
{
    font-family: 'bbbd';
    color: #0B2233;
    font-weight: 900;
    
}
h4
{
    color: #FFFFFF;
    font-family: 'bbbd'; 
    font-weight: 900;
}
span
{
    color:#FF7603 ;
    font-family: 'bbbd'; 
    font-weight: 900;
}

@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1420px;
}
}

.card
{
background-color: #0B2233;
border-radius: 5px !important;
height: 100%;
}
p
{
    padding: 10px;
    color: #FFFFFF;
    font-size: 12px;
}


.card-body{
    padding: 27px !important;
}





@media only screen and (max-width: 800px)
{
    p
    {
      display: none;
    }
    
 
}
@media only screen and (max-width: 1000px) and (min-width:700px)
{
    .row
    {
      padding: 0px 35px !important;
      
      
    }
    p
    {
        font-size: 10px;
        padding: 8px;
    }
    .card-body{
        padding: 8px !important;
    }
    
    h4
{
    color: #FFFFFF;
    font-family: 'bbbd'; 
    font-size: 14px;
    font-weight: 400;
}
}


@media only screen and (max-width: 699px) and (min-width:400px)
{
    .card-body{
        padding: 8px !important;
    }
 
    p
    {
        font-size: 10px;
        padding: 8px;
    }
   
    h4
{
    color: #FFFFFF;
    font-family: 'bbbd'; 
    font-size: 10px;
    font-weight: 400;
}
}


@media only screen and (max-width: 399px) and (min-width:200px)
{
    
.card-body{
    padding: 8px !important;
}

p
{
    font-size: 8px;
    padding: 8px;
}

h4
{
color: #FFFFFF;
font-family: 'bbbd'; 
font-size: 4px;
}
.afcsdfcds{
    width: 30px;
    height: 30px;
    margin: auto !important;
    margin-top: 10px !important;
}
.xvxvxfvfs{
    height: 90% !important;
}
.card-title{
    margin-top: 7px !important;
} 
} */




*
{
    margin: 0;
    box-sizing: border-box;

}

.topheading
{
    font-family: 'bbbd';
    color: #0B2233;
    font-weight: 900;
    
}

.card
{
    height: 100%;
    background-color: rgba(11, 34, 51, 1);
}
.headddd
{
    color:rgba(255, 118, 3, 1);
    font-weight: 700;
    font-family: 'bbbd';
}
.connnnten
{
    color: white;
}
.card-body
{
    padding: 0 !important;
}

@media only screen and (max-width: 719px) and (min-width:450px)
{
    .headddd
    {
        color:rgba(255, 118, 3, 1);
        font-weight: 700;
        font-family: 'bbbd';
        font-size: 30px;
    
    }
    .connnnten
    {
        color: white;
        font-size: 14px;
    }
    
}

@media only screen and (max-width: 449px) and (min-width:200px)
{
    .headddd
    {
        color:rgba(255, 118, 3, 1);
        font-weight: 700;
        font-family: 'bbbd';
        font-size: 25px;
    
    }
    .connnnten
    {
        color: white;
        font-size: 13px;
    }
   
    
}