

<main>

  <div class="container-fluid px-5">

    <nav class="navbar navbar-expand-lg">
   
      <a class="navbar-brand" href="#"><span id="span1">MODERN   POWER  <br> &nbsp;&nbsp;</span>SOLUTIONS</a>
    
    <div class="text-end">

<a href="https://wa.me/919488904289">      <button id="btn1" class=" mt-4" >CONTACT</button>
</a>

    </div>
  </nav>

</div>

  <section id="home" class="mt-15  first">

    <div class="row toop"> 
        <div class="col-lg-7 col-md-6 col-6 col-xl-8 col-sm-6 col-xxl-8">
           <h1>Powering <br>
            Your Future  <br>
            with <span id="span2">Solar </span>Excellence</h1>
            <p>Your Trusted Solar Installers:Turning Sunshine Into Savings.
                  Join the Solar Revolution Today</p>
              <button class="btn my-sm-2" id="btn2">Learn more</button> <button id="btn3" class="btn ">Buy Installers</button>
  
        </div>
        
        <div class="col-lg-5 col-md-6 col-6 col-xl-4 col-sm-6 col-6 col-xxl-4">
             <img src="assets/images/ee.png" alt="Rectangle28" class="img-fluid" id="img1" >
  
        </div>
    </div>
    
  </section>

  
</main>